$main-font: "Work Sans", sans-serif;
$light-color: #e4f3ff;
$dark-color:#8fcbff;
$dark-color-hover:#6ebbff;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $light-color;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $dark-color;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $dark-color-hover;
}

.cs-main-font{
    font-family: $main-font;
}

.cs-bg-light {
    background-color: $light-color;
}

.cs-bg-dark {
    background-color: $dark-color-hover;
}

header {
    .name {
        font-family: $main-font;
        font-size: 5rem;
    }
}

section.about {
    p {
        font-size: 1.1rem;
    }
}

.blog-card {
    transition: all .5s;
    &:hover {
        transform: scale(1.02) translateY(-10px);
        box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.2), 0 6px 20px 0 rgba(20, 20, 20, 0.19);
    }
}

.video-card {
    transition: all .5s;
    &:hover {
        transform: scale(.95);
        box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.2), 0 6px 20px 0 rgba(20, 20, 20, 0.19);
    }
}

@media (max-width: 991.98px) {
    header {
        padding-bottom: 5rem;
        .name {
            font-size: 4rem;
        }
    }
}

@media (max-width: 767.98px) {
    header {
        .name {
            font-size: 3rem;
        }
    }
}